# Django
SECRET_KEY=django-insecure-change-this-in-production
DEBUG=True

# Google Sheets
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_SHEET_NAME=Admissions_Master_Sheet

# Admin Portal
ADMIN_PASSPHRASE=change-this-passphrase
